body {
    background-color: bisque;
}

.cardcolor1 {
    background-color: cadetblue;
}

.cardfont1 {
    color: white;
    font: bold;
    font-size: larger;
}

.padding1 {
    padding-top: 5%;
}

.padding2 {
    padding-left: 5%;
}

.row-no-margin {
    margin-left: 0px;
    margin-right:0px;
}

.col-no-padding {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }